@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    cursor: none;
}


@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    50% {
        scale: 1, 100;
    }

    100% {
        rotate: 360deg;
    }
}

#blob {
    z-index: 1;

    background: linear-gradient(#6c33f0, #e89a4c);
    height: 20rem;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    filter: blur(200px);

    animation: rotate 10s infinite linear;
}

#cursor-circle {
    pointer-events: none;
    z-index: 30;

    position: absolute;
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;

    border-color: white;
    border-style: solid;
    border-width: 0.2rem;

    left: 50%;
    top: 50%;
    translate: -50% -50%;

    color: white;
    mix-blend-mode: difference;
    -webkit-mix-blend-mode: difference;
}


.t-wrapper {
    z-index: 20;

    position: absolute;

    width: 100%;

    left: 50%;
    top: 50%;

    translate: -50% -50%;
    font-family: 'poppins';
    color: white;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    z-index: 5;
    position: absolute;
    /* display: none; */


}



.title:hover~#cursor-circle {
    background: white;
}

@keyframes coolified {
    0% {
        color: #e89a4c;

    }

    ;

    100% {
        color: #6c33f0
    }
}

.coolified {
    color: #6c33f0;
    animation: coolified 3s infinite alternate;
}



.text {
    font-family: 'poppins';
    font-size: 100%;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    position: inherit;
    position: absolute;

    bottom: 10%;
    left: 50%;
    translate: -50% 0;
    z-index: 10;

    transition: 0.5s
}

.text:hover {
    font-size: 105%;
    transition: 0.5s
}




/*HEHHEEHHEHEHEH IGNORE THIS*/
.dadacacafadfawdavfwa {
    display: none;
}